
*,
*::before,
*::after {
    box-sizing: border-box;
}

.header-container,
.page-section-container,
.features,
.section-two-container,
.portfolio-container,
.footer-container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}


body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    ;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.page-header .container {
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 332px;
}

.list {
    padding: 24px;
    display: flex;
    gap: 40px;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.contacts-list {
    padding-right: 156px;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo .logo-part {
    padding-right: 76px;
    color: #2e2f42;
}

.page-section {
    padding: 188px 0;
    background-color: #2e2f42;
}

.page-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    gap: 24px;
}

.features {
    padding: 120px 0;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.section-two .container .team-list {
    display: flex;
    gap: 24px;
}

.main-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.button {
    border-radius: 4px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #4d5ae5;
}

.button:hover,
.button:focus {
    background-color: #404bbf
}

.team-section {
    padding: 188px 0;
    background-color: #f4f4fd;

}

.team-card {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.section-title,
.team-name,
.portfolio-section {
    color: #2e2f42;
    text-align: center;

}

.team-card-content {
    padding: 32px 16px;
    text-align: center;
}

.team-card .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    box-sizing: border-box;

}

img {
    display: block;
}

.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-container ul {
    display: flexbox;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-container ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.portfolio-container li {
    width: calc((100% - 48px) / 3);
    background-color: #fff;
}

.portfolio-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-section-card img,
.portfolio-container img {
    display: block;
}

.section-paragraph {
    text-align: center;
    color: #434455;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
}

h3 {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}